openapi: 3.0.0
info:
  title: RUVDS API
  version: '2.22'
  description: |
    # Введение

    RUVDS API позволяет управлять серверами с помощью HTTP запросов.

    API позволяет автоматически создать множество серверов, получить их статус,
    информацию о тарифах, датацентрах, платежах при помощи скриптов.

    Документация по API начинается с общего обзора технологий, которые были реализованы.
    Затем представлена справочная информация о вызовах API.


    ## История изменений
    |Версия|Дата|Изменения|
    |---|---|---|
    |2.22|2025-05-06| Добавлен раздел `Auth` для получения токена API с возможностью двухфакторной авторизации. |
    |2.21|2025-04-15| В еnum `payment_period` добавлено значение `0`. |
    |2.20|2025-03-17| В запрос GET `/v2/servers` добавлена возможность поиска и получения информации об IP адресах и даты до которой оплачен сервер. |
    |2.19|2025-02-20| В запрос GET `/v2/os` добавлена информация об операционных системах. |
    |2.18|2025-01-13| В запрос GET `/v2/tariffs` добавлена информация о скидках за платёжные периоды. |
    |2.17|2024-11-22| Добавлена возможность получать количество уведомлений с необходимым статусом и массовой пометки уведомлений новым статусом. |
    |2.16|2024-07-19| Для всех запросов добавлены JavaScript примеры. |
    |2.15|2024-07-04| Для всех запросов добавлены Python примеры. |
    |2.14|2024-06-26| Для всех запросов добавлены Powershell примеры. |
    |2.13|2024-06-19| Для всех запросов добавлены cURL примеры. |
    |2.12|2024-06-11| Добавлена возможность получения состояния питания и даты, до которой оплачен сервер. В методы управления сервером, добавлен возвращаемый код ошибки `409`. |
    |2.11|2024-05-29| Добавлена возможность управления SSH ключами и указания SSH ключа при создании сервера. |
    |2.10|2023-11-27| Добавлена возможность получения начального пароля от сервера при помощи GET запроса. `GET /v2/servers/$VIRTUAL_SERVER_ID/start_password` Требуется токен с правами `remove`. |
    |2.9|2023-11-24| Добавлена возможность получения скриншота сервера. `GET /v2/servers/$VIRTUAL_SERVER_ID/screenshot` |
    |2.8|2023-11-20| Ответ со статусом `403` теперь возвращает объект `api_forbidden_error`. В данном объекте дополнительно содержится поле `user_id`. |
    |2.7|2023-11-09| Добавлена возможность получения информации о стоимости продления виртуального сервера. `GET /v2/servers/$VIRTUAL_SERVER_ID/cost` |
    |2.6|2023-11-09| Добавлена возможность получения начального пароля от сервера. `POST /v2/servers/$VIRTUAL_SERVER_ID/start_password` |
    |2.5|2023-11-08| Добавлено получение IP адресов виртуального сервера. `GET /v2/servers/$VIRTUAL_SERVER_ID/networks` |
    |2.4|2023-11-07| Добавлено поле `datacenter` в объект `server`, который возвращается при получении статуса сервера. |
    |2.3|2023-10-31| Теперь можно предварительно узнать стоимость создания и изменения сервера при помощи параметра `get_price_only`. <br /><br /> Изменен возвращаемый объект при изменении сервера `PUT /v2/servers`. |
    |2.2|2023-10-23| В модель `action_error` добавлены новые типы ошибок `server_wait_for_payment` и `too_much_servers_wait_for_payment`. <br /><br /> В модель `api_action` добавлен статус `wait_user_action`. <br /><br /> Добавлена возможность выпускать токен с правами на запись. |
    |2.1|2023-10-12| В модель `api_error` добавлены новые типы ошибок `conflict` и `unexpected_error`. |


    ## Запросы
    Основоной URL, на который отправляются запросы: `https://api.ruvds.com`.

    Все запросы выполняются посредством HTTPS на соответствующий URI.
    Таким образом весть трафик зашифрован.
    Методы запросов соответствуют HTTP протоколу.

    |Метод HTTP|Использование|
    |---|---|
    |GET| Получение информации. Данный запрос не изменяет объект. |
    |DELETE| Удаление объекта. Если объект не найден, то будет возвращен соответствующий код. Идемпотентность означает, что перед удалением нет необходимости проверять наличие объекта. Конечное состояние после удаления будет одним и тем же независимо от наличия объекта. |
    |PUT| Обновление объекта. |
    |POST| Создание объекта. |
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: RUVDS Support Team
    email: support@ruvds.com
  termsOfService: https://ruvds.com/ru-rub/contract/
servers:
  - url: https://api.ruvds.com
    description: production
security:
  - bearer_auth: []
tags:
  - name: Actions
    description: Информация о действиях.
  - name: Auth
    description: Авторизация и получение токена.
  - name: Balance
    description: Информация о доступных денежных средствах в личном кабинете пользователя.
  - name: Datacenters
    description: Информация о дата-центрах.
  - name: Notifications
    description: Информация об оповещениях.
  - name: OS
    description: Информация о доступных образах операционных систем.
  - name: Payments
    description: Список платежей пользователя.
  - name: SSH Keys
    description: Управление SSH ключами в личном кабинете пользователя.
  - name: Servers
    description: Операции над виртуальными серверами в личном кабинете пользователя.
  - name: Statistics
    description: Информация об использовании  CPU, RAM и сетевого трафика виртуальным серверами пользователя.
  - name: Tariffs
    description: Информация о тарифах.
  - name: Templates
    description: Информация о шаблонах виртуальных серверов доступных пользователю.
  - name: Tokens
    description: Получение токена авторизации при помощи логина и пароля от личного кабинета RUVDS.
paths:
  /v2/actions:
    get:
      operationId: actions_list
      summary: Информация о действиях пользователя, созданных через API.
      description: |
        Чтобы получить список всех действий пользователя отправьте GET запрос по адресу `/v2/actions`.
      tags:
        - Actions
      parameters:
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/actions_sort'
        - $ref: '#/components/parameters/order'
      responses:
        '200':
          $ref: '#/components/responses/all_actions'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/actions"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ActionsList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                actions_api = pyruvds.ActionsApi(api_client)
                api_response = actions_api.actions_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let actionsApi = new RuvdsApi.ActionsApi();
            let opts = {};
            actionsApi.actionsList(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/actions/{action_id}:
    get:
      operationId: actions_get
      summary: Получение информации по действию.
      description: Для получения конкретного действия отправьте GET запрос по адресу `/v2/actions/$ACTION_ID`.
      tags:
        - Actions
      parameters:
        - $ref: '#/components/parameters/action_id'
      responses:
        '200':
          $ref: '#/components/responses/api_action'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            ACTION_ID=132

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/actions/$ACTION_ID"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ActionsGet -ActionId 132
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            ACTION_ID = int(os.environ.get("ACTION_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                actions_api = pyruvds.ActionsApi(api_client)
                api_response = actions_api.actions_get(ACTION_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const ACTION_ID = process.env.ACTION_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let actionsApi = new RuvdsApi.ActionsApi();
            actionsApi.actionsGet(ACTION_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/auth/captcha_site_key:
    get:
      operationId: auth_captcha_site_key_get
      summary: Получение Site Key для генерации Captcha.
      description: |
        Для получения Site Key Captcha отправьте GET запрос по адресу `/v2/auth/captcha_site_key`.

        В данный момент используется hCaptcha: https://docs.hcaptcha.com/
      tags:
        - Auth
      responses:
        '200':
          $ref: '#/components/responses/auth_captcha_site_key'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      security:
        - NONE: []
  /v2/auth/login:
    post:
      operationId: auth_login
      summary: Получение токена для доступа к API при помощи логина и пароля.
      description: |
        Для получения токена для доступа к API при помощи логина и пароля
        отправьте POST запрос по адресу `/v2/auth/login`.

        Для заполнения поля `captcha_response` может потребоваться разгадать Captcha.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_login'
      responses:
        '200':
          $ref: '#/components/responses/auth_login'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      security:
        - NONE: []
  /v2/auth/send_code:
    post:
      operationId: auth_send_code
      summary: Отправка кода двухфакторной авторизации.
      description: |
        Для отправки кода двухфакторной авторизации
        отправьте POST запрос по адресу `/v2/auth/send_code`.

        Если в объекте `api_forbidden_error` значение `two_factor_otp=true`,
        то предпочтительнее использовать OTP код вместо данного метода.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_send_code'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      security:
        - NONE: []
  /v2/auth/two_factor_otp:
    post:
      operationId: auth_two_factor_otp
      summary: Получение токена для доступа к API при помощи OTP кода.
      description: |
        Для получения токена для доступа к API при помощи OTP кода
        отправьте POST запрос по адресу `/v2/auth/two_factor_otp`.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_two_factor_otp'
      responses:
        '200':
          $ref: '#/components/responses/auth_two_factor_otp'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      security:
        - NONE: []
  /v2/auth/two_factor_code:
    post:
      operationId: auth_two_factor_code
      summary: Получение токена для доступа к API при помощи кода из SMS или Email.
      description: |
        Для получения токена для доступа к API при помощи кода из SMS или Email
        отправьте POST запрос по адресу `/v2/auth/two_factor_code`.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_two_factor_code'
      responses:
        '200':
          $ref: '#/components/responses/auth_two_factor_code'
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      security:
        - NONE: []
  /v2/balance:
    get:
      operationId: balance_get
      summary: Получение информации об актуальном балансе.
      description: Для получения баланса отправьте GET запрос по адресу `/v2/balance`.
      tags:
        - Balance
      parameters:
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/currency_id'
      responses:
        '200':
          $ref: '#/components/responses/balance'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/balance"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-BalanceGet
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                balance_api = pyruvds.BalanceApi(api_client)
                api_response = balance_api.balance_get()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let balanceApi = new RuvdsApi.BalanceApi();
            let opts = {};
            balanceApi.balanceGet(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/datacenters:
    get:
      operationId: datacenters_list
      summary: Информация о доступных дата-центрах
      description: |
        Чтобы получить список всех доступных дата-центров отправьте GET запрос по адресу `/v2/datacenters`.
      tags:
        - Datacenters
      responses:
        '200':
          $ref: '#/components/responses/all_datacenters'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/datacenters"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-DatacentersList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                datacenters_api = pyruvds.DatacentersApi(api_client)
                api_response = datacenters_api.datacenters_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let datacentersApi = new RuvdsApi.DatacentersApi();
            datacentersApi.datacentersList((error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/notifications:
    get:
      operationId: notifications_list
      summary: Список всех оповещений
      description: |
        Чтобы получить список всех оповещений отправьте GET запрос по адресу `/v2/notifications`.

        В ответе будет JSON объект с ключом `notifications`. Он будет содержать массив оповещений.
      tags:
        - Notifications
      parameters:
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/notifications_sort'
        - $ref: '#/components/parameters/order'
      responses:
        '200':
          $ref: '#/components/responses/all_notifications'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/notifications"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-NotificationsList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                notifications_api = pyruvds.NotificationsApi(api_client)
                api_response = notifications_api.notifications_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let notificationsApi = new RuvdsApi.NotificationsApi();
            let opts = {};
            notificationsApi.notificationsList(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/notifications/{notification_id}:
    get:
      operationId: notifications_get
      summary: Получение информации об оповещении.
      description: Для получения информации об оповещении отправьте GET запрос по адресу `/v2/notifications/$NOTIFICATION_ID`.
      tags:
        - Notifications
      parameters:
        - $ref: '#/components/parameters/notification_id'
      responses:
        '200':
          $ref: '#/components/responses/notification'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            NOTIFICATION_ID='9d60a92e-c0de-ed11-a79f-ac220bccc098'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/notifications/$NOTIFICATION_ID"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-NotificationsGet -NotificationId '9d60a92e-c0de-ed11-a79f-ac220bccc098'
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            NOTIFICATION_ID = os.environ.get("NOTIFICATION_ID")

            with pyruvds.ApiClient(configuration) as api_client:
                notifications_api = pyruvds.NotificationsApi(api_client)
                api_response = notifications_api.notifications_get(NOTIFICATION_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const NOTIFICATION_ID = process.env.NOTIFICATION_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let notificationsApi = new RuvdsApi.NotificationsApi();
            notificationsApi.notificationsGet(NOTIFICATION_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
    put:
      operationId: notifications_put
      summary: Изменение статуса оповещения.
      description: Для изменения статуса оповещения отправьте PUT запрос по адресу `/v2/notifications/$NOTIFICATION_ID`.
      tags:
        - Notifications
      parameters:
        - $ref: '#/components/parameters/notification_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification_change'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            NOTIFICATION_ID='9d60a92e-c0de-ed11-a79f-ac220bccc098'

            curl -X PUT \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d '{ "status": "read" }' \
              "$API_URL/v2/notifications/$NOTIFICATION_ID"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            $NotificationId = "9d60a92e-c0de-ed11-a79f-ac220bccc098"
            $NotificationChange = Initialize-NotificationChange -Status "read"
            Invoke-NotificationsPut -NotificationId $NotificationId -NotificationChange $NotificationChange
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            NOTIFICATION_ID = os.environ.get("NOTIFICATION_ID")

            with pyruvds.ApiClient(configuration) as api_client:
                notifications_api = pyruvds.NotificationsApi(api_client)
                notification_change = pyruvds.NotificationChange(status='read')
                api_response = notifications_api.notifications_put(
                    NOTIFICATION_ID,
                    notification_change=notification_change)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const NOTIFICATION_ID = process.env.NOTIFICATION_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let notificationsApi = new RuvdsApi.NotificationsApi();
            let notificationChange = new RuvdsApi.NotificationChange();
            notificationChange.status = 'read';
            let opts = {
                'notificationChange': notificationChange
            };
            notificationsApi.notificationsPut(NOTIFICATION_ID, opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/notifications/count:
    get:
      operationId: notifications_count_get
      summary: Получение информации о количестве оповещений с заданным статусом.
      description: |
        Для получения информации о количестве оповещений с заданным статусом
        отправьте GET запрос по адресу `/v2/notifications/count`.
      tags:
        - Notifications
      parameters:
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          $ref: '#/components/responses/notification_count'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/notifications/count?status=unread"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-NotificationsCountGet -Status 'unread'
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                notifications_api = pyruvds.NotificationsApi(api_client)
                api_response = notifications_api.notifications_count_get('unread')
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let notificationsApi = new RuvdsApi.NotificationsApi();
            let opts = {
              'status': "unread"
            };
            notificationsApi.notificationsCountGet(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/notifications/status_all:
    put:
      operationId: notifications_status_all_put
      summary: Обновить статус всех уведомлений
      description: |
        Для обновления статуса всех уведомлений отправьте
        отправьте PUT запрос по адресу `/v2/notifications/status_all`.
      tags:
        - Notifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notification_change'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X PUT \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d '{ "status": "read" }' \
              "$API_URL/v2/notifications/status_all"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Initialize-NotificationChange -Status 'read'
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                notifications_api = pyruvds.NotificationsApi(api_client)
                notification_change = pyruvds.NotificationChange(status='read')
                api_response = notifications_api.notifications_status_all_put(
                    notification_change=notification_change)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let notificationsApi = new RuvdsApi.NotificationsApi();
            let notificationChange = new RuvdsApi.NotificationChange();
            notificationChange.status = 'read';
            let opts = {
                'notificationChange': notificationChange
            };
            notificationsApi.notificationsStatusAllPut(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/os:
    get:
      operationId: os_list
      summary: Информация о доступных операционных системах
      description: |
        Для получения списка операционных систем отправьте GET запрос по адресу `/v2/os`.
      tags:
        - OS
      responses:
        '200':
          $ref: '#/components/responses/all_os'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/os"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-OsList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                os_api = pyruvds.OSApi(api_client)
                api_response = os_api.os_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let osApi = new RuvdsApi.OSApi();
            osApi.osList((error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/payments:
    get:
      operationId: payments_list
      summary: Список всех платежей
      description: |
        Чтобы получить список всех платежей отправьте GET запрос по адресу `/v2/payments`.

        В ответе будет JSON объект с ключом `payments`. Он будет содержать массив платежей.
      tags:
        - Payments
      parameters:
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/payments_sort'
        - $ref: '#/components/parameters/order'
      responses:
        '200':
          $ref: '#/components/responses/all_payments'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/payments"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-PaymentsList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                payments_api = pyruvds.PaymentsApi(api_client)
                api_response = payments_api.payments_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let paymentsApi = new RuvdsApi.PaymentsApi();
            let opts = {};
            paymentsApi.paymentsList(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/servers:
    get:
      operationId: servers_list
      summary: Список всех виртуальных серверов
      description: |
        Чтобы получить список всех виртуальных серверов в аккаунте отправьте GET запрос по адресу `/v2/servers`.

        В ответе будет JSON объект с ключом `servers`. Он будет содержать массив статусов виртуальных серверов.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/servers_sort'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/inactive_first'
        - $ref: '#/components/parameters/get_paid_till'
        - $ref: '#/components/parameters/get_network'
        - $ref: '#/components/parameters/search'
      responses:
        '200':
          $ref: '#/components/responses/all_servers'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers?page=1&per_page=1"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            let opts = {};
            serversApi.serversList(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
    post:
      operationId: servers_create
      summary: Создание виртуального сервера
      description: |
        Для создания нового сервера отправьте POST пост запрос по адресу `/v2/servers` установив
        необходимые параметры.

        Необходимые параметры передаются в теле JSON. Возвращаемый код 200 Accepted говорит об
        успешной постановки задачи в очередь. Это не гарантирует успешное создание сервера.
        Прогресс создания можно получить из статуса соответствующего действия.
      tags:
        - Servers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/server_create'
      parameters:
        - $ref: '#/components/parameters/get_price_only'
      responses:
        '200':
          $ref: '#/components/responses/server_create'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X POST \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d '{ "datacenter": 1, "tariff_id": 14, "os_id": 52, "payment_period": 2, "cpu": 2, "ram": 2, "drive": 20, "drive_tariff_id": 3, "ip": 1, "computer_name": "SQLSRV-01", "user_comment": "Server created via API."}' \
              "$API_URL/v2/servers"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            $ServerCreate = Initialize-ServerCreate -Datacenter 1 -TariffId 14 -OsId 52 -PaymentPeriod "2" -Cpu 2 -Ram 2 -Drive 20 -DriveTariffId 3 -Ip 1 -ComputerName "SQLSRV-01" -UserComment "Server created via API."
            $GetPriceOnly = $false
            Invoke-ServersCreate -ServerCreate $ServerCreate -GetPriceOnly $GetPriceOnly
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                server_create = pyruvds.ServerCreate(
                    datacenter=1,
                    tariff_id=14,
                    os_id=52,
                    payment_period=2,
                    cpu=2,
                    ram=2.0,
                    drive=20,
                    drive_tariff_id=3,
                    ip=1,
                    computer_name='SQLSRV-01',
                    user_comment='Server created via API.')
                api_response = servers_api.servers_create(server_create,
                                                          get_price_only=False)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serverCreate = new RuvdsApi.ServerCreate();
            serverCreate.datacenter = 1;
            serverCreate.tariff_id = 14;
            serverCreate.os_id = 52;
            serverCreate.payment_period = 2;
            serverCreate.cpu = 2;
            serverCreate.ram = 2.0;
            serverCreate.drive = 20;
            serverCreate.drive_tariff_id = 3;
            serverCreate.ip = 1;
            serverCreate.computer_name = 'SQLSRV-01';
            serverCreate.user_comment = 'Server created via API.';

            let serversApi = new RuvdsApi.ServersApi();
            let opts = {
                'getPriceOnly': false
            };
            serversApi.serversCreate(serverCreate, opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - write
    put:
      operationId: servers_change
      summary: Изменение виртуального сервера
      description: |
        Для изменения виртуального сервера отправьте PUT запрос по адресу `/v2/servers` установив
        необходимые параметры.

        Необходимые параметры передаются в теле JSON. Нужно передать хотя бы один из необязательных параметров.
        Возвращаемый код 200 Accepted говорит об успешной постановки задачи в очередь.
        Это не гарантирует успешное изменение сервера.
        В ответ приходит JSON объект `action`.
        Информация о получении статуса действия в разделе `Actions`.
      tags:
        - Servers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/server_change'
      parameters:
        - $ref: '#/components/parameters/get_price_only'
      responses:
        '200':
          $ref: '#/components/responses/server_change'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X PUT \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d "{ virtual_server_id: $VIRTUAL_SERVER_ID, ram: 4 }" \
              "$API_URL/v2/servers"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            $ServerChange = Initialize-ServerChange -VirtualServerId 1232 -Ram 4
            $GetPriceOnly = $false
            Invoke-ServersChange -ServerChange $ServerChange -GetPriceOnly $GetPriceOnly
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                server_change = pyruvds.ServerChange(
                    virtual_server_id=VIRTUAL_SERVER_ID,
                    ram=3.0)
                api_response = servers_api.servers_change(
                    server_change,
                    get_price_only = False)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            let serverChange = new RuvdsApi.ServerChange();
            serverChange.virtual_server_id = VIRTUAL_SERVER_ID;
            serverChange.ram = 3;
            let opts = {
                'getPriceOnly': false
            };
            serversApi.serversChange(serverChange, opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - write
  /v2/servers/{virtual_server_id}:
    get:
      operationId: servers_get
      summary: Получение информации о виртуальном сервере.
      description: Для получения информации о виртуальном сервере отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/server'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersGet -VirtualServerId 1232
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_get(VIRTUAL_SERVER_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversGet(VIRTUAL_SERVER_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
    delete:
      operationId: servers_delete
      summary: Удаление виртуального сервера
      description: |
        Для удаления виртуального сервера отправьте DELETE запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/server_delete'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            #
            # Be careful! After delete all data will be lost!
            #
            curl -X DELETE \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersDelete -VirtualServerId 1232
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID = int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_delete(VIRTUAL_SERVER_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversDelete(VIRTUAL_SERVER_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - remove
  /v2/servers/{virtual_server_id}/actions:
    put:
      operationId: servers_action_create
      summary: Отправка команды виртуальному серверу
      description: |
        Для отправки команды виртуальному серверу отправьте PUT пост запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/actions`
        установив необходимые параметры.

        Возвращаемый код 200 Accepted говорит об успешной постановки задачи в очередь.
        Результат выполения можно получить из статуса соответствующего действия.
      tags:
        - Servers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/server_action_create'
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/servers_action_create'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X PUT \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d '{ type: "power_on" }' \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/actions"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            $VirtualServerId = 1232
            $ServerActionCreate = Initialize-ServerActionCreate -Type "power_on"
            Invoke-ServersActionCreate -VirtualServerId $VirtualServerId -ServerActionCreate $ServerActionCreate
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                server_action_create = pyruvds.ServerActionCreate(
                    type="power_off")
                api_response = servers_api.servers_action_create(
                    VIRTUAL_SERVER_ID,
                    server_action_create)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            let serverActionCreate = new RuvdsApi.ServerActionCreate();
            serverActionCreate.type = 'reboot';
            serversApi.serversActionCreate(VIRTUAL_SERVER_ID, serverActionCreate, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/servers/{virtual_server_id}/cost:
    get:
      operationId: servers_cost_get
      summary: Получение информации о стоимости виртуального сервера.
      description: Для получения информации о стоимости виртуального сервера отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/cost`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/server_cost'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/cost"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersCostGet -VirtualServerId 1232
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_cost_get(VIRTUAL_SERVER_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversCostGet(VIRTUAL_SERVER_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/servers/{virtual_server_id}/networks:
    get:
      operationId: servers_network_get
      summary: Получение информации об IP адресах виртуального сервера.
      description: Для получения информации об IP адресах виртуального сервера отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/networks`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/all_networks'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/networks"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersNetworkGet -VirtualServerId 1232
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_network_get(VIRTUAL_SERVER_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversNetworkGet(VIRTUAL_SERVER_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/servers/{virtual_server_id}/paid_till:
    get:
      operationId: servers_paid_till_get
      summary: Получение даты и времени до которого оплачен сервера.
      description: |
        Для получения даты и времени, до которого оплачен виртуальныq сервер,
        отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/paid_till`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/paid_till_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/paid_till"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersPaidTillGet -VirtualServerId 1232
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_paid_till_get(VIRTUAL_SERVER_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversPaidTillGet(VIRTUAL_SERVER_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/servers/{virtual_server_id}/power_state:
    get:
      operationId: servers_power_state_get
      summary: Получение состояния питания виртуального сервера.
      description: |
        Для получения состояния питания виртуального сервера отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/power_state`.

        Данный вызов непосредственно опрашивает физическую машину о состоянии виртуального сервера и является блокирующим.
        Таймаут вызова 10 сек. Если в данный момент статус сервера получить не удаётся, то возвращается ошибка с кодом `500`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/power_state_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/power_state"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersPowerStateGet -VirtualServerId 1232
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_power_state_get(VIRTUAL_SERVER_ID)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversPowerStateGet(VIRTUAL_SERVER_ID, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
  /v2/servers/{virtual_server_id}/screenshot:
    get:
      operationId: servers_screenshot
      summary: Получение снимка экрана виртуального сервера.
      description: Для получения снимка экрана виртуального сервера отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/screenshot`.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
        - $ref: '#/components/parameters/screen_size'
      responses:
        '200':
          $ref: '#/components/responses/screenshot'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/screenshot?screen_size=64x48"
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_screenshot(
                    VIRTUAL_SERVER_ID,
                    "300x225")
                print(len(api_response))
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            serversApi.serversScreenshot(VIRTUAL_SERVER_ID, '300x225', (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(`Screen data length: ${data.length}`);
            });
      security:
        - basic_auth: []
        - bearer_auth:
            - read
  /v2/servers/{virtual_server_id}/start_password:
    get:
      operationId: servers_start_password_get
      summary: Получение пароля для доступа к виртуальному серверу.
      description: |
        Для получение пароля для доступа к виртуальному серверу отправьте GET запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/start_password`.
        Для вызова данного метода необходим токен с правами `remove`.


        Обратите внимание, что в целях безопасности пароль доступа к серверу **рекомендуется сменить** при первом заходе на сервер.
      tags:
        - Servers
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
        - $ref: '#/components/parameters/response_format'
      responses:
        '200':
          $ref: '#/components/responses/start_password'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/start_password?response_format=base64"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-ServersStartPasswordGet -VirtualServerId 1232 -ResponseFormat 'base64'
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID=int(os.environ.get("VIRTUAL_SERVER_ID"))

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                api_response = servers_api.servers_start_password_get(
                    VIRTUAL_SERVER_ID,
                    response_format='base64')
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            let opts = {
                'responseFormat': 'base64'
            };
            serversApi.serversStartPasswordGet(VIRTUAL_SERVER_ID, opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - remove
    post:
      operationId: servers_start_password
      summary: Получение пароля для доступа к виртуальному серверу.
      description: |
        Для получение пароля для доступа к виртуальному серверу отправьте POST пост запрос по адресу `/v2/servers/$VIRTUAL_SERVER_ID/start_password`.
        В теле запроса передается пароль от личного кабинета ruvds.com

        Обратите внимание, что в целях безопасности пароль доступа к серверу рекомендуется сменить при первом заходе на сервер.
      tags:
        - Servers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/start_password'
      parameters:
        - $ref: '#/components/parameters/virtual_server_id'
      responses:
        '200':
          $ref: '#/components/responses/start_password'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            VIRTUAL_SERVER_ID=1232
            RUVDS_PASSWORD='Password from https://ruvds.com'

            RUVDS_PASSWORD_BASE64=$(echo -n $RUVDS_PASSWORD | base64)
            curl -X POST \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d "{ account_password: \"$RUVDS_PASSWORD_BASE64\", response_format: \"base64\" }" \
              "$API_URL/v2/servers/$VIRTUAL_SERVER_ID/start_password"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            $VirtualServerId = 1232
            $RuvdsPassword = 'Password from https://ruvds.com'
            $RuvdsPasswordBytes = [System.Text.Encoding]::UTF8.GetBytes($RuvdsPassword)
            $RuvdsPasswordEncodedText =[Convert]::ToBase64String($RuvdsPasswordBytes)
            $StartPassword = Initialize-StartPassword -AccountPassword $RuvdsPasswordEncodedText -ResponseFormat 'base64'
            Invoke-ServersStartPassword -VirtualServerId $VirtualServerId -StartPassword $StartPassword
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import base64
            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            VIRTUAL_SERVER_ID = int(os.environ.get("VIRTUAL_SERVER_ID"))
            RUVDS_PASSWORD = os.environ.get("RUVDS_PASSWORD")

            with pyruvds.ApiClient(configuration) as api_client:
                servers_api = pyruvds.ServersApi(api_client)
                passwordBytes = RUVDS_PASSWORD.encode()
                passwordBase64 = base64.b64encode(passwordBytes)
                passwordBase64Str = passwordBase64.decode()
                start_password = pyruvds.StartPassword(
                    account_password=passwordBase64Str,
                    response_format='base64')
                api_response = servers_api.servers_start_password(
                    VIRTUAL_SERVER_ID,
                    start_password)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;
            const VIRTUAL_SERVER_ID = process.env.VIRTUAL_SERVER_ID;
            const RUVDS_PASSWORD = process.env.RUVDS_PASSWORD;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let serversApi = new RuvdsApi.ServersApi();
            let startPassword = new RuvdsApi.StartPassword();
            startPassword.account_password = btoa(RUVDS_PASSWORD);
            startPassword.response_format = 'base64';
            serversApi.serversStartPassword(VIRTUAL_SERVER_ID, startPassword, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - write
  /v2/ssh_keys:
    get:
      operationId: ssh_keys_list
      summary: Список SSH ключей загруженных в личный кабинет пользователя.
      description: |
        Для получения списка SSH ключей отправьте GET запрос по адресу `/v2/ssh_keys`.
      tags:
        - SSH Keys
      responses:
        '200':
          $ref: '#/components/responses/all_ssh_keys'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'

            curl -X GET \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              "$API_URL/v2/ssh_keys"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            Invoke-SshKeysList
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            with pyruvds.ApiClient(configuration) as api_client:
                sshkeys_api = pyruvds.SSHKeysApi(api_client)
                api_response = sshkeys_api.ssh_keys_list()
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let sshKeysApi = new RuvdsApi.SSHKeysApi();
            sshKeysApi.sshKeysList((error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - read
    post:
      operationId: ssh_keys_create
      summary: Добавление публичного SSH ключа.
      description: |
        Для добавления публичного SSH ключа отправьте POST пост запрос по адресу `/v2/ssh_keys`.
        В теле запроса передаются необходимые параметры.
      tags:
        - SSH Keys
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ssh_key_create'
      responses:
        '200':
          $ref: '#/components/responses/ssh_key_create'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            SSH_KEY='ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICIStr8MFw+5kHRu2mdhnfyJCLLJeNuXR80D/0a3bX0Y sample-key'
            SSH_KEY_NAME='sample-key'

            curl -X POST \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer $RUVDS_TOKEN" \
              -d "{ public_key: \"$SSH_KEY\", name: \"$SSH_KEY_NAME\" }" \
              "$API_URL/v2/ssh_keys"
        - lang: powershell
          source: |-
            # Getting started with powershell OpenAPI:
            # https://ruvds.com/ru/helpcenter/powershell-script-openapi/

            $SshKeyCreate = Initialize-SshKeyCreate -PublicKey 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICIStr8MFw+5kHRu2mdhnfyJCLLJeNuXR80D/0a3bX0Y sample-key' -Name 'sample-key'
            Invoke-SshKeysCreate -SshKeyCreate $SshKeyCreate
        - lang: Python
          source: |-
            # Getting started with Python OpenAPI:
            # https://ruvds.com/ru/helpcenter/python-api/

            import os
            import pyruvds

            configuration = pyruvds.Configuration(
                access_token=os.environ.get("RUVDS_TOKEN"),
            )

            SSH_KEY = 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICIStr8MFw+5kHRu2mdhnfyJCLLJeNuXR80D/0a3bX0Y sample-key'
            SSH_KEY_NAME='sample-key'

            with pyruvds.ApiClient(configuration) as api_client:
                sshkeys_api = pyruvds.SSHKeysApi(api_client)
                ssh_key_create = pyruvds.SshKeyCreate(
                    public_key=SSH_KEY,
                    name=SSH_KEY_NAME)
                api_response = sshkeys_api.ssh_keys_create(
                    ssh_key_create=ssh_key_create)
                print(api_response)
        - lang: JavaScript
          source: |-
            // Getting started with JavaScript OpenAPI:
            // https://ruvds.com/ru/helpcenter/javascript-api/

            const RuvdsApi = require('ruvds_api');

            const RUVDS_TOKEN = process.env.RUVDS_TOKEN;

            let defaultClient = RuvdsApi.ApiClient.instance;
            let bearer_auth = defaultClient.authentications['bearer_auth'];
            bearer_auth.accessToken = RUVDS_TOKEN;

            let sshKeysApi = new RuvdsApi.SSHKeysApi();
            let sshKeyCreate = new RuvdsApi.SshKeyCreate();
            sshKeyCreate.public_key = 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICIStr8MFw+5kHRu2mdhnfyJCLLJeNuXR80D/0a3bX0Y sample-key'
            sshKeyCreate.name = 'sample-key'
            let opts = {
              'sshKeyCreate': sshKeyCreate
            };
            sshKeysApi.sshKeysCreate(opts, (error, data, response) => {
                if (error) {
                    throw new Error(error);
                }
                console.log(data);
            });
      security:
        - bearer_auth:
            - write
  /v2/ssh_keys/{ssh_key_id}:
    get:
      operationId: ssh_keys_get
      summary: Получение SSH ключа по ID.
      description: |
        Для получения SSH ключа по ID отправьте GET запрос по адресу `/v2/ssh_keys/$SSH_KEY_ID`.
      tags:
        - SSH Keys
      parameters:
        - $ref: '#/components/parameters/ssh_key_id'
      responses:
        '200':
          $ref: '#/components/responses/ssh_key'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
        - lang: cURL
          source: |-
            # Getting started with cURL API:
            # https://ruvds.com/ru/helpcenter/curl-api/

            RUVDS_TOKEN='Token from https://ruvds.com/my/settings/api'
            API_URL='https://api.ruvds.com'
            SSH_KEY_ID='6f21c860-0fc1-ee11-a7cb-ac220bccc098'

            curl -X GET \
              -H "Content-Type: application/json" \
[...]
